name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for npm provenance

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for commit-analyzer

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: Assert OIDC available
        run: node -e "if (!process.env.ACTIONS_ID_TOKEN_REQUEST_URL) { console.error('Missing ACTIONS_ID_TOKEN_REQUEST_URL (need permissions: id-token: write)'); process.exit(1); } console.log('OIDC env detected');"

      - name: Install dependencies
        env:
          NPM_CONFIG_USERCONFIG: ${{ github.workspace }}/.npmrc
        run: npm ci

      - name: Verify the integrity of provenance attestations and registry signatures
        env:
          NPM_CONFIG_USERCONFIG: ${{ github.workspace }}/.npmrc
        run: npm audit signatures

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_USERCONFIG: ${{ github.workspace }}/.npmrc
          NODE_AUTH_TOKEN: ""
        run: npx semantic-release
